
.input-card{
    display: flex;
    gap: 10px;
}

.but1{
    width: 70px;
    height: 40px;

    font-family:"Gotham Pro Black";

    background-image: linear-gradient(217deg, rgba(92, 236, 56, 0.521), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 255, 128, 0.8), rgba(0,0,255,0) 70.71%);

    border: 0px;
    border-radius: 10px;

    transition: background-image 5s,color 1s;
}

.but1:hover{
    background-image: linear-gradient(217deg, rgba(56, 155, 236, 0.521), rgba(255,0,0,0) 60.71%),
    linear-gradient(127deg, rgba(0, 132, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 60, 255, 0.8), rgba(0,0,255,0) 70.71%);

    color: rgb(255, 255, 255);
}

.input-add{

    background-image: linear-gradient(217deg, rgba(92, 236, 56, 0.521), rgba(255,0,0,0) 70.71%),
    linear-gradient(127deg, rgba(0,255,0,.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 255, 128, 0.8), rgba(0,0,255,0) 70.71%);

    border: 3px,solid;
    border-radius: 60px;

    font-family: "Gotham Pro Black";

    transition: border-color 2s,border-radius 70ms,color 1s;
}

.input-add:focus{

    background-image: linear-gradient(217deg, rgba(56, 155, 236, 0.521), rgba(255,0,0,0) 60.71%),
    linear-gradient(127deg, rgba(0, 132, 255, 0.8), rgba(0,255,0,0) 70.71%),
    linear-gradient(336deg, rgba(0, 60, 255, 0.8), rgba(0,0,255,0) 70.71%);

    color: aliceblue;

    border-color: rgb(255, 255, 255);
    border-radius: 12px;

}

.worckers-card{
    background-color: rgb(1, 72, 105);

    width: 400px;
    height: 260px;

    border-radius: 6px;
}

.worckers-card::after{

    content: '';

    position: absolute;

    height: 100%;

    width: 100%;

    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 10px;
}

.list-title{
    color: black;
}