.App {
  text-align: center;
}/*

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-button{
  width: 100px;
  height: 50px;
}*/

.App-header {
  width: 1000%;
}/*

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

body{
  display: flexbox;
}

.Person-list{
  position: absolute;
  top: 30%;
  scale: 1.2;

  width: 300px;
  min-height: 190px;
  height: auto;

  background-image: linear-gradient(135deg,rgba(255,255,255,0.1),rgba(255,255,255,0));
    /*backdrop-filter:blur(10px);
    -webkit-backdrop-filter: blur(10px);*/
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 8px 32px  0 rgba(0, 0, 0, 0.37);
    z-index: 1;
}

.pot-list-choose{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}

.list-center{
  width: 100%;
  height: 500px;
  display: flex;
  justify-content: center;
}